<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>
    
    {{>navbar}}

    <!--main header-->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="Saurabh" class="img-fluid" title="learning SJ">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I Am A<span class="text_clr"> Mern Stack Developer </span>And Keen to Learn New Things Everyday</h1>
                        <a href="https://www.thapatechnical.com/" target="_saurabh"><button>About Me</button></a>
                    </div>
                    <!--right side div-->
                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->

    {{>footer}}

</body>

</html>